/* General styles */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: 'Lora', serif;
    background-color: rgba(255, 218, 203, 0.3);
    margin: 0;
    padding: 0;
    color: #333;
}

html {
    font-size: 150%;
}

#toolbar {
    background-color: #132a4c;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#toolbar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure the items are centered vertically */
}

#toolbar nav ul li {
    margin-right: 20px;
}

#toolbar nav ul li:last-child {
    margin-right: 0; /* Remove right margin from the last item */
}

#toolbar nav ul li a {
    text-decoration: none;
    /*color: white; !* Default color for all links *!*/
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s;
    display: block; /* Ensure anchor tags behave like block elements */
}

#toolbar nav ul li a:hover {
    background-color: #2980b9;
    border-radius: 5px;
}

li.bold-name a {
    font-size: 1.5rem;
    color: #e84a27; /* Orange color for Payam Kelich */
    text-shadow: -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff, -0.5px 0.5px 0 #ffffff, 0.5px 0.5px 0 #ffffff; /* White edge */
}

/* Rest of your CSS remains unchanged */

.center-para {
    text-align: center;
    margin: 5px 0;
}

#profile {
    display: flex;
    justify-content: space-around;
    margin: 50px 200px;
}

#image-container {
    text-align: center;
}

#image-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.link-icon {
    font-size: 30px;
    margin: 0 10px;
    color: #132a4c;
    transition: color 0.3s, transform 0.3s;
}

.link-icon:hover {
    color: #3498db;
    animation: bounce 1s;
}

.p-justify {
    text-align: justify;
}

#about {
    flex: 1;
    margin: 0 50px;
    padding: 20px;
}

#about h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: left;
}

#skills {
    margin-top: 20px;
}

#skills h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills-block {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    animation: fadeInUp 0.5s ease both;
}

.skills-block h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.skills-list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.skills-list li {
    margin-bottom: 5px;
}

.pub {
    position: relative;
    padding-left: 270px;
    margin-bottom: 30px; /* Increased spacing between publication items */
}
.pub strong {
    color: #ff4d00;
}
.pub .author-name {
    color: darkblue;
    font-weight: bold;
}

.pub img {
    position: absolute;
    left: 10px;
    top: 5px;
    width: 240px;
    height: auto;
}

#publications-wrapper {
    display: flex;
    justify-content: space-between;
}

.publications-column {
    width: 48%;
}

.experience-item {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 1.5em; /* Adjust based on your font size */
    vertical-align: middle;
    margin-right: 0.5em; /* Adjust spacing as needed */
}

@media (max-width: 1024px) {
    #profile {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    #experience {
        max-width: 100%;
        margin: 20px;
    }

    #publications {
        margin: 20px;
    }

    #links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #links .link-icon {
        margin: 5px;
    }

    #publications-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .publications-column {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    #profile {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    #links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #links .link-icon {
        margin: 5px;
        font-size: 24px;
    }

    #about {
        margin: 20px;
    }

    .experience-item {
        padding: 20px;
    }

    .pub {
        padding-left: 0;
        margin-bottom: 30px; /* Ensure increased spacing is applied for smaller screens */
    }

    .pub img {
        width: 100%;
        position: static;
        display: block;
        margin: 0 auto 10px auto;
    }

    .publications-column {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 100%;
    }

    #toolbar nav ul {
        flex-direction: column;
    }

    #toolbar nav ul li {
        margin: 10px 0;
    }

    #toolbar nav ul li a {
        padding: 10px;
    }

    #image-container img {
        width: 200px;
        height: 200px;
    }

    #links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #links .link-icon {
        margin: 5px;
        font-size: 20px;
    }

    .experience-item {
        padding: 15px;
    }

    .skills-container {
        flex-direction: column;
    }

    .skills-block {
        flex: 1 1 100%;
    }
}
